@import '../../../../styles/mixins';

.dc-settings-control {
    &__text-size-control {
        display: flex;
        align-items: center;

        [dir='rtl'] & {
            flex-direction: row-reverse;
        }
    }

    &__text-size-button {
        &_s {
            @include text-size(body-1);
        }
        &_m {
            @include text-size(body-2);
        }
        &_l {
            @include text-size(body-3);
        }
    }

    &__text-size-button-icon {
        &_active {
            color: var(--g-color-base-brand);
        }
    }

    &__popup {
        width: 230px;
        @include text-size(body-1);
    }

    &__popup-tooltip {
        padding: 0;
    }

    &__list {
        padding: 4px 0;
        width: 230px;

        .yc-list__item_active {
            background: transparent;
        }
    }

    &__list-icon {
        margin-inline-end: 8px;
    }

    &__list-item {
        display: flex;
        padding: 12px;
        width: 100%;

        [dir='rtl'] & {
            flex-direction: row-reverse;
        }
    }

    &__list-item-description {
        color: var(--g-color-text-secondary);
    }

    &__list-item-control {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        [dir='rtl'] & {
            margin-inline-end: auto;
        }

        [dir='rtl'] & > label {
            transform: rotate(180deg);
        }
    }
}
