@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.dc-lang-control {
    display: flex;
    align-items: center;
    @include mixins.text-size(body-1);

    &__popup {
        width: 100px;
        @include mixins.text-size(body-1);
    }

    div &__popup-tooltip {
        padding: 0px;
    }

    &__list {
        padding: 4px 0;
    }

    &__list-item {
        --g-focus-border-radius: 4px;

        display: flex;
        gap: 8px;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: var(--g-focus-border-radius);
        border: 0;
        padding: 0 12px;
        color: inherit;
        cursor: inherit;
        background-color: inherit;
        font-family: inherit;

        @include mixins.focusable(-2px);
    }
}
