@use '../../../../styles/mixins';
@use '../../../../styles/variables';

.dc-lang-control {
    display: flex;
    align-items: center;
    @include mixins.text-size(body-1);

    &__popup {
        width: 100px;
        @include mixins.text-size(body-1);
    }

    div &__popup-tooltip {
        padding: 0;
    }

    &__list {
        padding: 4px 0;
    }

    &__list-item {
        --g-focus-border-radius: 4px;

        display: flex;
        gap: 8px;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: var(--g-focus-border-radius);
        border: 0;
        padding: 0 12px;
        color: inherit;
        cursor: pointer;
        background-color: inherit;
        font-family: inherit;

        @include mixins.focusable(-2px);
    }

    &__list-item_tld {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4px;
    }

    &__list-item_tld > span {
        color: var(--g-color-text-hint);
    }

    &__list-item_disabled {
        color: var(--g-color-text-secondary);
        cursor: default;
        opacity: 0.7;
    }
}
