@import '../../styles/mixins';

.dc-nav-toc-panel {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--g-color-base-background);

    @include text-size(body-1);

    &_fixed {
        position: fixed;
        inset-block-end: 0;
        z-index: 1000;
        inset-inline-start: 0;
        border-block-start: 1px solid var(--g-color-line-generic);
    }

    &_fixed &__control-hint {
        display: none;
    }

    &_fixed &__content {
        padding: 0 40px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex: 1;
        max-width: 1440px;
    }

    &__control {
        display: flex;
        flex-direction: column;
        width: 48%;

        &_left {
            align-items: flex-start;
        }

        &_right {
            align-items: flex-end;
        }

        & svg {
            margin-block-start: -1px;
            min-width: 16px;
        }

        &_left svg {
            margin-inline-end: 6px;

            [dir='rtl'] & {
                transform: rotate(180deg);
            }
        }

        &_right svg {
            margin-inline-start: 6px;

            [dir='rtl'] & {
                transform: rotate(180deg);
            }
        }
    }

    &__control-hint {
        color: var(--g-color-text-hint);
    }

    &__control-text {
        display: flex;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        min-height: 32px;
        color: var(--g-color-text-primary);
        font-weight: 500;
        border-radius: var(--g-focus-border-radius);

        @include focusable();
    }
}
