@use './light';
@use './light-hc';
@use './dark';
@use './dark-hc';

.g-root {
    --g-font-family-sans: 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;

    --g-text-header-font-weight: 500;
    --g-text-subheader-font-weight: 500;
    --g-text-display-font-weight: 500;
    --g-text-accent-font-weight: 500;

    --g-scrollbar-width: 6px;

    --dc-text-highlight: var(--g-color-base-warning-heavy);
    --dc-text-highlight-selected: #ffab3b;
    --dc-header-height: 0px;
    --dc-subnavigation-height: 52px;
    --dc-subheader-height: 40px;

    --dc-error-image-403: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
    --dc-error-image-404: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
    --dc-error-image-500: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');

    &_theme_light {
        @include light.g-colors-private-light;

        --g-color-base-background: rgb(255, 255, 255);
        --g-color-base-brand: var(--g-color-private-base-brand-550-solid);
        --g-color-base-brand-hover: var(--g-color-private-base-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-base-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-base-brand-200);
        --g-color-line-brand: var(--g-color-private-base-brand-550-solid);
        --g-color-text-brand: var(--g-color-private-base-brand-600-solid);
        --g-color-text-brand-heavy: var(--g-color-private-base-brand-700-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
        --g-color-text-link: var(--g-color-private-base-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-base-brand-800-solid);
    }

    &_theme_light-hc {
        @include light-hc.g-colors-private-light-hc;

        --g-color-base-background: rgb(255, 255, 255);
        --g-color-base-brand: var(--g-color-private-base-brand-600-solid);
        --g-color-base-brand-hover: var(--g-color-private-base-brand-800-solid);
        --g-color-base-selection: var(--g-color-private-base-brand-250);
        --g-color-base-selection-hover: var(--g-color-private-base-brand-350);
        --g-color-line-brand: var(--g-color-private-base-brand-600-solid);
        --g-color-text-brand: var(--g-color-private-base-brand-650-solid);
        --g-color-text-brand-heavy: var(--g-color-private-base-brand-900-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
        --g-color-text-link: var(--g-color-private-base-brand-650-solid);
        --g-color-text-link-hover: var(--g-color-private-base-brand-850-solid);
    }

    &_theme_dark {
        @include dark.g-colors-private-dark;

        --dc-text-highlight-selected: var(--g-color-text-inverted-primary);

        --g-color-base-background: rgb(45, 44, 51);
        --g-color-base-brand: var(--g-color-private-base-brand-550-solid);
        --g-color-base-brand-hover: var(--g-color-private-base-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-base-brand-150);
        --g-color-base-selection-hover: var(--g-color-private-base-brand-200);
        --g-color-line-brand: var(--g-color-private-base-brand-550-solid);
        --g-color-text-brand: var(--g-color-private-base-brand-600-solid);
        --g-color-text-brand-heavy: var(--g-color-private-base-brand-700-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
        --g-color-text-link: var(--g-color-private-base-brand-600-solid);
        --g-color-text-link-hover: var(--g-color-private-base-brand-850-solid);
    }

    &_theme_dark-hc {
        @include dark-hc.g-colors-private-dark-hc;

        --dc-text-highlight-selected: var(--g-color-text-inverted-primary);

        --g-color-base-background: rgb(34, 35, 38);
        --g-color-base-brand: var(--g-color-private-base-brand-500-solid);
        --g-color-base-brand-hover: var(--g-color-private-base-brand-650-solid);
        --g-color-base-selection: var(--g-color-private-base-brand-250);
        --g-color-base-selection-hover: var(--g-color-private-base-brand-400);
        --g-color-line-brand: var(--g-color-private-base-brand-550-solid);
        --g-color-text-brand: var(--g-color-private-base-brand-650-solid);
        --g-color-text-brand-heavy: var(--g-color-private-base-brand-850-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
        --g-color-text-link: var(--g-color-private-base-brand-650-solid);
        --g-color-text-link-hover: var(--g-color-private-base-brand-750-solid);
    }
}
