@import '../../../styles/mixins.scss';

.dc-mobile-control {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 100%;

    // padding: var(--g-border-radius-xs, 3px) 0 var(--g-border-radius-xs, 3px) 0;
    padding: var(--g-border-radius-xs, 3px) 8px var(--g-border-radius-xs, 3px) 12px;

    & button {
        display: flex;
        align-items: center;

        height: 100%;
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 8px;

        @include heading6();
    }

    &__select-sheet ul,
    &__select-sheet li {
        @include reset-list-style();
    }

    &__arrow {
        height: 100%;

        right: 0;
        padding: 2px;
    }
}
