.dc-text-area {
    display: inline-block;
    width: 100%;
    position: relative;

    $block: &;

    &__control {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        font-family: var(--yc-font-family);
        font-size: var(--yc-text-body-font-size);
        line-height: var(--yc-text-body-line-height);
        color: var(--yc-color-text-primary);
        border: 1px solid var(--yc-color-line-generic);
        border-radius: 3px;
        cursor: auto;
        background-color: var(--yc-color-base-background);

        &::placeholder {
            color: var(--yc-color-text-hint);
        }

        &:hover {
            border: 1px solid var(--yc-color-line-generic-hover);
        }

        &:focus {
            outline: none;
            border: 1px solid var(--yc-color-line-generic-active);
        }

        &_disabled {
            background-color: var(--yc-color-base-generic);
            color: var(--yc-color-text-hint);
            border-color: transparent;

            &:hover {
                border-color: transparent;
            }
        }

        &#{&}_clear {
            padding-right: 26px;
        }

        &_state {
            &_error {
                border-color: var(--yc-color-line-danger);

                &:hover,
                &:focus {
                    outline: none;
                    border-color: var(--yc-color-line-danger);
                }
            }
        }
    }

    &__error-text {
        color: var(--yc-color-text-danger);
        margin-top: 2px;
        font-size: var(--yc-text-body-font-size);
        line-height: var(--yc-text-body-line-height);
    }

    &__clear-control {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0px;
        right: 0px;
        height: 100%;
        padding: 0 8px;
        color: var(--yc-color-text-hint);
        cursor: pointer;
        border-radius: 0 3px;

        &_multiline {
            top: 0;

            &#{$block}__clear-control_size {
                &_s {
                    height: 24px;
                }

                &_m {
                    height: 28px;
                }

                &_l {
                    height: 32px;
                }

                &_xl {
                    height: 36px;
                }
            }
        }

        &_scrollbar {
            right: var(--yc-scrollbar-width);
        }

        &:hover {
            color: var(--yc-color-text-primary);
        }
    }
}
