.dc-bookmark-button {
    vertical-align: middle;
    margin: 0 4px 4px 4px;

    &:hover::before {
        background-color: transparent;
    }

    &_active .yc-button__icon {
        color: var(--yc-color-base-special);
    }
}
