// same as share button keep it sync :)

.dc-bookmark-button {
    vertical-align: middle;
    margin: 0 0 5px 12px;

    &:hover::before {
        background-color: transparent;
    }

    &_active &__icon {
        color: var(--g-color-base-brand);
    }
}
