@import '../../styles/variables';
@import '../../styles/mixins';

.dc-subnavigation {
    position: absolute;
    z-index: 119;

    display: flex;

    width: calc(100% - 12px - 12px);
    height: 44px;
    padding: 4px 12px;

    gap: 4px;

    background: var(--g-color-base-background, #fff);
    border-bottom: 1px solid var(--g-color-line-generic, #0000001a);

    @media (min-width: map-get($screenBreakpoints, 'md')) {
        display: none;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1 0 0;

        width: 100%;
        padding: 0;
        padding-left: 4px;
        gap: 4px;

        text-decoration: none;

        color: var(--g-color-text-primary, rgba(0, 0, 0, 0.85));
        background: none;
        border-radius: var(--g-border-radius-xs, 3px);
        border: none;
        border-left: 1px solid var(--g-color-line-generic, rgba(0, 0, 0, 0.1019607843));
        outline: none;

        transition: transform 0.1s ease-out, color 0.15s linear;
        transform: scale(1);

        touch-action: manipulation;

        &:hover {
            background: var(--g-color-base-simple-hover, rgba(0, 0, 0, 0.05));
        }

        &:active {
            transition: none;
            transform: scale(0.98);
        }

        &:focus-visible {
            outline: var(--g-color-line-focus, rgb(78, 121, 235));
            outline-width: 2px;
            outline-style: solid;
        }

        &_hidden {
            visibility: hidden;
        }
    }

    &__menu-button_invisible ~ &__left {
        border-left: none;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }

    &__title {
        @include text-size(subheader-2);
        font-weight: 400;
    }

    &__menu-button {
        &_invisible {
            display: none;
        }

        &_hidden {
            visibility: hidden;
        }
    }

    transition: margin-top 300ms 0s;

    &_hidden {
        --dc-header-height: 64px;
        margin-top: calc(0px - var(--dc-header-height, 64px));
    }

    &_visible {
        margin-top: 0;
    }

    &_invisible {
        border: none;
        background: none;
    }

    &__button_invisible {
        display: none;
    }

    &_invisible &__button {
        margin-top: 8px;
    }
}
