@use 'sass:map';
@use '../../styles/variables';
@use '../../styles/mixins';

$iconSize: 18px;
$toggleSize: 10px;
$leftOffset: 57px;

@mixin toc-header {
    @include mixins.text-size(body-2);
    font-weight: 500;
}

.dc-toc {
    $class: &;

    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--dc-header-height, #{variables.$headerHeight}));
    overflow: hidden;
    border-right: 1px solid var(--g-color-line-generic);

    @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
        padding: 12px 16px 0px;

        border-right: none;
        overflow-y: auto;
    }

    &__empty {
        padding: 5px 15px 5px 24px;
    }

    &__top {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;
        padding: 10px 10px 8px 0;
        margin-bottom: 12px;

        @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
            padding: 10px 12px 10px 28px;
            margin-bottom: 0;
        }

        &_scrolled {
            border-bottom: 1px solid var(--g-color-line-generic);
        }

        @mixin top-main-base {
            display: flex;
            align-items: flex-start;
            width: 100%;
            box-sizing: border-box;
            padding: var(--g-spacing-2) var(--g-spacing-3);
            gap: var(--g-spacing-2);
        }

        &_with-extra-header {
            flex-direction: column;
            margin-bottom: var(--g-spacing-1);

            .dc-toc__top-main {
                @include top-main-base;

                &-link {
                    @include top-main-base;
                    cursor: pointer;

                    @include mixins.reset-link-style();
                    border-radius: 3px;

                    &:hover {
                        background: var(--g-color-base-simple-hover);
                    }

                    &_active {
                        background: var(--g-color-base-selection);
                    }
                }
            }
            .dc-toc__top-header-icon,
            .dc-toc-label_offset {
                margin: 0;
                flex-shrink: 0;
            }
            .dc-toc__top-header {
                display: inline-flex;
                flex-grow: 1;
                font-size: var(--g-text-body-1-font-size);
                font-weight: var(--g-text-body-font-weight);
                line-height: var(--g-text-body-1-line-height);
            }

            .dc-toc__content > .dc-toc__list {
                padding-left: var(--g-spacing-4);
            }
        }

        &-header-icon {
            display: flex;
            margin-right: 5px;
            flex-shrink: 0;

            [dir='rtl'] & {
                margin-left: 5px;
            }
        }

        &-header {
            flex-grow: 0;
            $headerClass: &;
            position: relative;
            font-weight: 500;

            @include mixins.text-size(body-3);

            &_link {
                @include mixins.reset-link-style();

                display: flex;
                align-items: center;
                border-radius: var(--g-focus-border-radius);

                @include mixins.link();

                &:hover {
                    color: var(--g-color-text-primary);
                }

                @include mixins.focusable();
            }
        }
    }

    &__bottom {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 4px 10px 20px 0;

        &_scrolled {
            border-top: 1px solid var(--g-color-line-generic);

            @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
                border-top: 0;
            }
        }
    }

    &__content {
        --g-scrollbar-width: 6px;

        position: relative;
        flex-grow: 1;
        overflow-y: auto;
        scrollbar-width: thin;

        @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
            overflow-y: unset;
        }

        &_offset_top {
            @media (min-width: map.get(variables.$screenBreakpoints, 'md')) {
                padding-top: 12px;
            }
        }
    }

    &__list {
        @include mixins.reset-list-style();

        display: block;

        &-item {
            cursor: pointer;
            user-select: none;

            &_labeled {
                margin-top: 16px;
            }

            &_main > *:first-child {
                color: var(--g-color-text-primary);
            }

            &:not(&_opened) > #{$class}__list {
                display: none;
            }

            // recurcive padding
            &:not(&_labeled) > #{$class}__list {
                padding-left: 20px;

                [dir='rtl'] & {
                    padding-right: 20px;
                }
            }
        }
    }

    &__content > &__list {
        padding-right: 21px;
        padding-bottom: 30px;

        @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
            padding-right: 0;
        }
    }

    &__content_with-extra-header > &__list {
        padding-right: 10px;
    }
}
