@import '../../../styles/variables';
@import '../../../styles/mixins';

$iconSize: 18px;
$toggleSize: 10px;
$leftOffset: 57px;

@mixin toc-header {
    @include text-size(body2);
    font-weight: 500;
}

.dc-toc {
    $class: &;

    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--dc-header-height, #{$headerHeight}));
    overflow-y: hidden;

    &__empty {
        padding: 5px 15px 5px 24px;
    }

    &__top {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 10px 10px 8px 0;

        &_scrolled {
            border-bottom: 1px solid var(--yc-color-divider);
        }

        &-header-icon {
            display: flex;
            margin-right: 5px;
            flex-shrink: 0;
        }

        &-header {
            flex-grow: 0;
            $headerClass: &;
            position: relative;

            @include text-size(body2);
            font-weight: 500;

            &_link {
                @include reset-link-style();
                display: flex;
                align-items: center;

                &:hover {
                    @include link();

                    color: var(--yc-color-text-primary);
                }
            }
        }
    }

    &__content {
        position: relative;
        flex-grow: 1;
        overflow-y: auto;
    }

    &__list {
        @include reset-list-style();

        display: block;

        &-item {
            cursor: pointer;
            user-select: none;

            &-link {
                display: block;
                text-decoration: none;
            }

            &-text {
                position: relative;
                padding: 8px 6px 8px 20px;

                color: var(--yc-color-text-inactive);

                &-match {
                    color: var(--yc-color-text-primary);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    // hack: to be shure that it will always start from the left of the TOC
                    left: -100vw;
                    height: 100%;
                }

                &:hover {
                    color: var(--yc-color-text-complementary);
                }
            }

            &-icon {
                position: absolute;
                left: 0;
            }

            &_main > *:first-child {
                color: var(--yc-color-text-primary);
            }

            &_active &-text {
                color: var(--yc-color-text-primary);
            }

            &:not(&_opened) > #{$class}__list {
                display: none;
            }

            // recurcive padding
            > #{$class}__list {
                padding-left: 20px;
            }
        }
    }

    &__content > &__list > &__list-item:last-child {
        padding-bottom: 30px;
    }
}
