@import '../../styles/variables';
@import '../../styles/mixins';

.dc-mini-toc {
    $class: &;

    &__title {
        @include text-size(body-2);
        font-weight: 500;
        color: var(--g-color-text-primary);
        margin-bottom: 12px;
        margin-top: 0;
    }

    &__sections {
        @include reset-list-style();

        max-height: calc(
            100vh - var(--dc-header-height, #{$headerHeight}) - var(
                    --dc-subnavigation-height,
                    #{$subNavigationHeight}
                ) - #{$miniTocOffset}
        );
        overflow: hidden auto;
    }

    &__section {
        display: block;

        & > #{$class}__section-link {
            border-left-color: var(--g-color-line-generic);

            @include focusable(-2px);
        }

        &-link {
            display: flex;
            align-items: center;
            padding: 6px 6px 6px 12px;
            min-height: 28px;

            color: var(--g-color-text-secondary);
            border-left: 2px solid transparent;
            text-decoration: none;

            &:hover {
                color: var(--g-color-text-complementary);
            }
        }

        &_child {
            #{$class}__section-link {
                padding-left: 25px;
            }
        }

        &_active > #{$class}__section-link {
            color: var(--g-color-text-primary);
            border-left-color: var(--g-color-text-primary);
        }
    }

    &__bottom {
        display: none;
    }

    // fix bug with scrolling mini-toc and body on desktop
    body:has(&_overflowed:hover) {
        overflow-y: hidden;
    }

    @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
        $verticalPadding: 16px;
        $titleHeight: 20px; // line-height body-2
        $titleMargin: 12px;
        $bottomHeight: 0;

        padding: $verticalPadding 8px $verticalPadding 20px;

        &__title {
            margin-bottom: $titleMargin;
        }

        &:has(&_overflowed) &__bottom {
            $bottomHeight: 20px;

            display: block;
            height: $bottomHeight;
        }

        &__section {
            &-link {
                padding: 8px 12px 8px 28px;
            }

            &_child {
                #{$class}__section-link {
                    padding-left: 44px;
                }
            }
        }

        &__sections {
            $mobileMiniTocOffset: 2 * $verticalPadding + $titleHeight + $titleMargin;

            @include text-size(body-2);

            max-height: calc(
                100vh - var(--dc-header-height, #{$headerHeight}) - var(
                        --dc-subnavigation-height,
                        #{$subNavigationHeight}
                    ) - #{$mobileMiniTocOffset} - #{$bottomHeight}
            );
        }
    }
}
