@use 'sass:map';
@use '../../styles/variables';
@use '../../styles/mixins';

.dc-mini-toc {
    $class: &;

    &__title {
        font-weight: 500;
        color: var(--g-color-text-primary);
        margin-bottom: 12px;
        margin-top: 0;

        @include mixins.text-size(body-2);
    }

    &__sections {
        @include mixins.reset-list-style();

        position: relative;
        box-sizing: border-box;

        max-height: calc(
            100vh - var(--dc-header-height, #{variables.$headerHeight}) - var(
                    --dc-subnavigation-height,
                    #{variables.$subNavigationHeight}
                ) - #{variables.$miniTocOffset}
        );
        overflow: hidden auto;
    }

    &__section {
        display: block;

        & > #{$class}__section-link {
            border-left-color: var(--g-color-line-generic);

            @include mixins.focusable(-2px);
        }

        &-link {
            display: flex;
            align-items: center;
            padding: 6px 6px 6px 12px;
            min-height: 28px;

            color: var(--g-color-text-secondary);
            border-left: 2px solid transparent;
            text-decoration: none;

            &:hover {
                color: var(--g-color-text-complementary);
            }
        }

        &_child {
            #{$class}__section-link {
                padding-left: 25px;
            }
        }

        &_active > #{$class}__section-link {
            color: var(--g-color-text-primary);
            border-left-color: var(--g-color-text-primary);
        }
    }

    &__bottom {
        display: none;
    }

    @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
        // fix bug with scrolling mini-toc and body on desktop
        body:has(&_overflowed:hover) {
            overflow-y: hidden;
        }

        $bottomHeight: 0;

        padding: variables.$miniTocVerticalPadding 8px variables.$miniTocVerticalPadding 20px;

        &__title {
            margin-bottom: variables.$miniTocTitleMargin;
        }

        &:has(&_overflowed) {
            #{$class}__bottom {
                $bottomHeight: 36px;

                display: block;
                height: $bottomHeight;
            }

            #{$class}__sections {
                max-height: calc(
                    100vh - var(--dc-header-height, #{variables.$headerHeight}) - var(
                            --dc-subnavigation-height,
                            #{variables.$subNavigationHeight}
                        ) - #{variables.$mobileMiniTocOffset} - #{$bottomHeight}
                );
            }
        }

        &__section {
            &-link {
                padding: 8px 12px 8px 28px;
            }

            &_child {
                #{$class}__section-link {
                    padding-left: 44px;
                }
            }
        }

        &__sections {
            @include mixins.text-size(body-2);

            max-height: calc(
                100vh - var(--dc-header-height, #{variables.$headerHeight}) - var(
                        --dc-subnavigation-height,
                        #{variables.$subNavigationHeight}
                    ) - #{variables.$mobileMiniTocOffset}
            );
        }
    }
}
