@use 'sass:map';
@use '../../styles/variables';
@use '../../styles/mixins';

.dc-mini-toc {
    $class: &;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0;
    max-height: calc(
        100vh - var(--dc-header-height, #{variables.$headerHeight}) - var(
                --dc-subnavigation-height,
                #{variables.$subNavigationHeight}
            ) -
            #{variables.$miniTocOffset}
    );
    overflow-y: auto;
    overscroll-behavior-y: contain;

    .dc-summary {
        flex-shrink: 0;
    }

    &_summary-only {
        .dc-summary {
            margin-bottom: 0;

            &__text {
                text-wrap: balance;
            }
        }
    }

    &__title {
        flex-shrink: 0;
        font-weight: 500;
        color: var(--g-color-text-primary);
        margin-bottom: 12px;
        margin-top: 0;

        @include mixins.text-size(body-2);
    }

    &__sections {
        @include mixins.reset-list-style();

        position: relative;
        box-sizing: border-box;

        flex: 1 1 auto;
        min-height: 56px;
        overflow: hidden auto;
    }

    &__section {
        display: block;

        & > #{$class}__section-link {
            border-left-color: var(--dc-color-mini-toc-border, var(--g-color-line-generic));

            @include mixins.focusable(-2px);
        }

        &-link {
            display: flex;
            align-items: center;
            padding: 6px 6px 6px 12px;
            min-height: 28px;

            color: var(--dc-color-mini-toc, var(--g-color-text-secondary));
            border-left: 2px solid transparent;
            text-decoration: none;

            &:hover {
                color: var(--dc-color-mini-toc-hover, var(--g-color-text-complementary));
            }
        }

        &_child {
            #{$class}__section-link {
                padding-left: 25px;
            }
        }

        &_active > #{$class}__section-link {
            color: var(--dc-color-mini-toc-active, var(--g-color-text-primary));
            border-left-color: var(--dc-color-mini-toc-active-border, var(--g-color-text-primary));
        }
    }

    &__bottom {
        display: none;
    }

    @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
        // fix bug with scrolling mini-toc and body on desktop
        body:has(&_overflowed:hover) {
            overflow-y: hidden;
        }

        max-height: calc(
            100vh - var(--dc-header-height, #{variables.$headerHeight}) - var(
                    --dc-subnavigation-height,
                    #{variables.$subNavigationHeight}
                ) -
                1px
        );
        padding: variables.$miniTocVerticalPadding 8px variables.$miniTocVerticalPadding 20px;

        &__title {
            margin-bottom: variables.$miniTocTitleMargin;
        }

        &:has(&_overflowed) {
            #{$class}__bottom {
                display: block;
                height: 36px;
            }
        }

        &__section {
            &-link {
                padding: 8px 12px 8px 28px;
            }

            &_child {
                #{$class}__section-link {
                    padding-left: 44px;
                }
            }
        }

        &__sections {
            @include mixins.text-size(body-2);

            min-height: 88px;
        }
    }
}
