@import '../../styles/variables';
@import '../../styles/mixins';

.dc-mini-toc {
    $class: &;

    &__title {
        @include text-size(body-2);
        font-weight: 500;
        color: var(--g-color-text-primary);
        margin-bottom: 12px;

        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            margin-bottom: 8px;
        }
    }

    &__sections {
        @include reset-list-style();

        height: calc(
            100vh - var(--dc-header-height, #{$headerHeight}) - #{$miniTocOffset} - var(--dc-subheader-height)
        );
        overflow: hidden auto;

        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            height: fit-content;
            max-height: calc(
                80vh - var(--dc-header-height, #{$headerHeight}) - #{$miniTocOffset} - var(--dc-subheader-height)
            );
        }
    }

    &__section {
        display: block;

        & > #{$class}__section-link {
            border-left-color: var(--g-color-line-generic);

            @include focusable(-2px);
        }

        &-link {
            display: flex;
            align-items: center;
            padding: 6px 6px 6px 12px;
            min-height: 28px;

            color: var(--g-color-text-secondary);
            border-left: 2px solid transparent;
            text-decoration: none;

            &:hover {
                color: var(--g-color-text-complementary);
            }
        }

        &_child {
            #{$class}__section-link {
                padding-left: 25px;
            }
        }

        &_active > #{$class}__section-link {
            color: var(--g-color-text-primary);
            border-left-color: var(--g-color-text-primary);
        }
    }
}
