@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.dc-mobile-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 12px 10px 4px;

    width: 100%;

    &__foldable &__list {
        display: flex;
        padding: 4px 12px;
        flex-direction: column;

        border-radius: 11px;
        background: var(--g-color-base-generic);
    }

    &__list-item {
        display: flex;
        padding: 10px 12px 10px 28px;
        gap: 4px;

        width: 100%;
        margin: 0;

        font-weight: 400;
    }

    &__icon {
        transition: transform 150ms;

        &_up {
            transform: rotate(180deg);
        }
    }

    @media (min-width: map-get($screenBreakpoints, 'md')) {
        display: none;

        .pc-navigation-item:has(&) {
            display: none;
        }
    }
}
