@use '../../styles/variables';
@use '../../styles/mixins';

.dc-search-suggest {
    $block: &;

    --g-text-input-placeholder-color: rgba(0, 0, 0, 0.5);
    --g-text-input-placeholder-color-hover: rgba(0, 0, 0, 0.65);
    --g-text-input-border-color: rgba(0, 0, 0, 0.5);
    --g-text-input-border-color-hover: rgba(0, 0, 0, 0.65);

    .g-root_theme_dark & {
        --g-text-input-placeholder-color: rgba(255, 255, 255, 0.3);
        --g-text-input-placeholder-color-hover: rgba(255, 255, 255, 0.5);
        --g-text-input-border-color: rgba(255, 255, 255, 0.4);
        --g-text-input-border-color-hover: rgba(255, 255, 255, 0.5);
    }

    &__wrapper {
        position: relative;
        min-width: 200px;
    }

    &__loader {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    &__list {
        box-sizing: border-box;
        display: flex;
        max-height: 60vh;
        overflow: hidden auto;

        &_empty {
            text-align: center;
            padding: 12px;
            word-break: break-word;
        }
    }

    &__close {
        flex: none;
        margin-left: 16px;
    }

    &__item {
        width: 100%;
        display: block;
        overflow: hidden;
        padding: 12px 20px;
        box-sizing: border-box;

        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include mixins.text-size(body-1);

        &-title,
        &-description,
        &-breadcrumbs > * {
            display: block;
            overflow: hidden;

            text-overflow: ellipsis;
        }

        &-description {
            margin-top: 4px;

            color: var(--g-color-text-secondary);
        }

        &_type {
            &_page {
                padding-bottom: 9px;

                @include mixins.link();

                #{$block}__item {
                    &-breadcrumbs {
                        padding-top: 2px;

                        color: var(--g-color-text-secondary);
                    }
                }
            }

            &_service,
            &_marketplace {
                display: flex;

                padding-top: 9px;
                padding-bottom: 11px;

                #{$block}__item {
                    &-logo {
                        margin-right: 16px;
                        padding: 3px 0 1px;

                        text-align: center;
                    }

                    &-icon {
                        width: 16px;
                        height: var(--g-text-body-3-line-height);
                    }

                    &-text {
                        min-width: 0;
                    }

                    &-title {
                        padding: 3px 0 1px;
                    }
                }
            }

            &_group {
                padding: 16px 20px 4px;

                color: var(--www-text-content-color);
            }

            &_link {
                display: flex;

                padding: 22px 20px;

                color: var(--g-color-text-link);
                border-top: 1px solid var(--g-color-line-generic);
            }

            &_delimiter {
                height: 1px;
                padding: 0;

                background-color: var(--g-color-line-generic);
            }
        }

        h5 {
            margin: 0;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;
        }

        em {
            position: relative;

            font-style: inherit;

            &::before {
                position: absolute;
                z-index: -1;
                top: -3px;
                bottom: -1px;

                width: 100%;

                content: '';

                background-color: var(--g-color-base-selection);
            }
        }
    }
}
