@import '@gravity-ui/uikit/styles/styles.css';
@import './yfm.scss';

.g-root {
    --dc-text-highlight: var(--g-color-base-warning-heavy);
    --dc-text-highlight-selected: #ffab3b;
    --dc-header-height: 0px;
    --dc-subheader-height: 40px;

    --dc-error-image-403: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
    --dc-error-image-404: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
    --dc-error-image-500: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');

    --g-scrollbar-width: 6px;

    &::-webkit-scrollbar,
    *::-webkit-scrollbar {
        height: var(--g-scrollbar-width);
        background: transparent;
    }

    &::-webkit-scrollbar-track,
    *::-webkit-scrollbar-track {
        background: transparent;
    }
}
