// Sizes
$headerHeight: 0px;
$subHeaderHeight: 40px;
$subNavigationHeight: 52px;
$normalOffset: 20px;
$miniTocOffset: 56px;
$blockMarginBottomLarge: 20px;
$blockMarginBottomMedium: 15px;
$headerMarginTopLarge: 40px;
$headerMarginTopMedium: 32px;
$popupPadding: 16px;
$centerBlockMaxWidth: 736px;

// Navigation
$toMainMenuVerticalPadding: 4px;
$toMainMenuHorizontalPadding: 12px;
$toMainMenuHeight: calc(
    var(--dc-subnavigation-height, $subNavigationHeight) - #{$toMainMenuVerticalPadding} - #{$toMainMenuVerticalPadding}
);

// MiniToc
$miniTocVerticalPadding: 16px;
$miniTocTitleHeight: 20px; // line-height body-2
$miniTocTitleMargin: 12px;
$mobileMiniTocOffset: 2 * $miniTocVerticalPadding + $miniTocTitleHeight + $miniTocTitleMargin;

$screenBreakpoints: (
    'xs': 375px,
    'sm': 577px,
    'md': 769px,
    'lg': 1081px,
    'xl': 1185px,
);
