// Sizes
$headerHeight: 0px;
$subNavigationHeight: 52px;
$normalOffset: 20px;
$miniTocOffset: 56px;
$blockMarginBottomLarge: 20px;
$blockMarginBottomMedium: 15px;
$headerMarginTopLarge: 40px;
$headerMarginTopMedium: 32px;
$popupPadding: 16px;
$centerBlockMaxWidth: 736px;

// burger menu
$toMainMenuVerticalPadding: 4px;
$toMainMenuHorizontalPadding: 12px;
$toMainMenuHeight: calc(var(--dc-subnavigation-height, $subNavigationHeight) - #{$toMainMenuVerticalPadding} - #{$toMainMenuVerticalPadding});


$screenBreakpoints: (
    'xs': 375px,
    'sm': 577px,
    'md': 769px,
    'lg': 1081px,
    'xl': 1185px,
);
