@use 'mixins';
@use 'variables';
@use '@diplodoc/themes/lib/gravity/light.scss' as yfm-light;
@use '@diplodoc/themes/lib/gravity/dark.scss' as yfm-dark;
@use '@diplodoc/themes/lib/gravity/light-hc.scss' as yfm-light-hc;
@use '@diplodoc/themes/lib/gravity/dark-hc.scss' as yfm-dark-hc;

// Применяем темизацию для YFM элементов

.g-root_theme_light .dc-doc-page .yfm {
    @include yfm-light.gravity-colors-for-diplodoc-light();
}

.g-root_theme_light-hc .dc-doc-page .yfm {
    @include yfm-light-hc.gravity-colors-for-diplodoc-light-hc();
}

.g-root_theme_dark .dc-doc-page .yfm {
    @include yfm-dark.gravity-colors-for-diplodoc-dark();

    table[sticky-header] {
        & th::before {
            background: var(--yfm-color-base);
        }
    }

    .yfm-cut-title:before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggc3Ryb2tlPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNykiIGZpbGw9Im5vbmUiIGQ9Ik0zIDZsNSA1IDUtNSI+PC9wYXRoPjwvc3ZnPg==');
    }

    .yfm-tabs-accordion .yfm-tab:after {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggc3Ryb2tlPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNykiIGZpbGw9Im5vbmUiIGQ9Ik0zIDZsNSA1IDUtNSI+PC9wYXRoPjwvc3ZnPg==');
    }
}

.g-root_theme_dark-hc .dc-doc-page .yfm {
    @include yfm-dark-hc.gravity-colors-for-diplodoc-dark-hc();
}

.dc-doc-page .yfm {
    color: var(--yfm-color-text);

    // TODO: after determinate color for hljs in @diplodoc, remove this variables
    --yfm-color-hljs-background: var(--g-color-base-background);
    --yfm-color-hljs-subst: var(--g-color-text-complementary);
    --yfm-color-hljs-comment: var(--g-color-text-secondary);
    --yfm-color-hljs-deletion: var(--g-color-line-danger);
    --yfm-color-hljs-section: var(--g-color-line-danger);

    &::-webkit-scrollbar,
    *::-webkit-scrollbar {
        height: var(--g-scrollbar-width);
        background: transparent;
    }

    &::-webkit-scrollbar-track,
    *::-webkit-scrollbar-track {
        background: transparent;
    }

    a {
        border-radius: var(--g-focus-border-radius);

        &:hover,
        &:active {
        }

        @include mixins.focusable(0, 'box-shadow');
        &.yfm-anchor {
            &:focus::before {
                visibility: visible;
            }
        }
    }

    // Transform styles override PC icon size
    .pc-icon-wrapper__icon {
        max-height: none;
    }

    img {
        background-color: var(--g-color-base-background);
    }

    $backgroundColors: (
        yfm-accent-info: var(--yfm-color-note-info-background),
        yfm-accent-tip: var(--yfm-color-note-tip-background),
        yfm-accent-alert: var(--yfm-color-note-important-background),
        yfm-accent-warning: var(--yfm-color-note-warning-background),
    );

    @each $type, $color in $backgroundColors {
        &.#{$type} {
            background: $color;
        }
    }

    code {
        font-size: var(--dc-code-short-font-size);
        line-height: var(--dc-code-short-line-height);
        padding: var(--dc-code-short-padding);
        color: var(--yfm-color-inline-code, var(--yfm-color-text));
    }

    pre > code {
        font-size: var(--dc-code-font-size);
        line-height: var(--dc-code-line-height);
        padding: 16px;
        color: var(--yfm-color-code, var(--g-color-text-complementary));
    }

    dfn,
    .inline_code_tooltip {
        background: var(--yfm-color-term-dfn-background);
        box-shadow: 0 8px 20px var(--yfm-color-term-dfn-shadow);
    }

    dfn:before,
    .inline_code_tooltip:before {
        box-shadow: 0 0 0 1px var(--yfm-color-term-dfn-pseudo-shadow);
    }

    table thead,
    table[sticky-header] thead th::after,
    table tr:nth-child(2n) {
        background: var(--yfm-color-table-row-background);
    }

    hr {
        background-color: var(--yfm-color-base);
    }

    blockquote {
        border-left-color: var(--yfm-color-quote, var(--g-color-base-brand));
    }

    .yfm-tab-list {
        border-bottom-color: var(--yfm-color-border);
    }

    .yfm-tab {
        border-radius: var(--g-focus-border-radius);
        color: var(--yfm-color-tab-text, var(--yfm-color-text));

        &:hover,
        &:active {
            color: var(--yfm-color-tab-text-hover, var(--yfm-color-link-hover));
        }
        @include mixins.focusable();
    }

    .yfm-tab.active {
        border-bottom-color: var(--yfm-color-tab-active, var(--g-color-base-brand));
    }

    /* TODO: move yfm-cut styles to yfm-transform */
    .yfm-cut {
        margin-bottom: variables.$blockMarginBottomMedium;
    }

    .yfm-cut.open .yfm-cut-content {
        padding: 5px 0 0 30px;
    }

    .yfm-term_title:hover {
        color: var(--yfm-color-link-hover);
    }

    // Margin collapse is not applied for a block and header with a negative margin.
    // The margin is summed up. So, we need to take 15px away from the header margin-top
    h1,
    h2 {
        @include mixins.fixAnchorPosition(
            calc(#{variables.$headerMarginTopLarge} - #{variables.$blockMarginBottomMedium})
        );
        margin-bottom: variables.$blockMarginBottomLarge;
    }

    h3,
    h4,
    h5,
    h6 {
        @include mixins.fixAnchorPosition(
            calc(#{variables.$headerMarginTopMedium} - #{variables.$blockMarginBottomMedium})
        );
    }

    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
        @include mixins.fixAnchorPosition();
    }

    // Use 0px for the top offset of the header if it is the first child element,
    // because it is located after the page title
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:first-child {
            @include mixins.fixAnchorPosition();
        }
    }

    .yfm-page__delimeter {
        height: 4px;
        border-radius: 2px;
        background: var(--yfm-color-border);
        margin-top: 20px;
        margin-bottom: 0;

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            @include mixins.fixAnchorPosition(#{variables.$headerMarginTopLarge});
        }
    }

    .yfm-original-link {
        &:before {
            content: none;
        }
        & svg {
            visibility: hidden;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        .yfm-original-link::before {
            content: none;
        }
        .yfm-original-link svg {
            visibility: hidden;
        }
        &:hover .yfm-original-link svg {
            visibility: visible;
        }
    }

    /* stylelint-disable declaration-no-important */
    .yfm-anchor_hidden {
        visibility: hidden;
        &:before {
            visibility: hidden !important;
        }
    }
    /* stylelint-enable declaration-no-important */
}

.dc-neuro-expert-widget {
    position: fixed;
    width: fit-content;
    height: 100vh;
    pointer-events: none;
    right: 0;
    bottom: 0;
}
