@import './mixins';
@import './variables';

.dc-doc-page .yfm {
    color: var(--g-color-text-primary);

    --yfm-color-hljs-background: var(--g-color-base-background);
    --yfm-color-hljs-subst: var(--g-color-text-complementary);
    --yfm-color-hljs-comment: var(--g-color-text-secondary);
    --yfm-color-hljs-deletion: var(--g-color-line-danger);
    --yfm-color-hljs-section: var(--g-color-line-danger);

    &::-webkit-scrollbar,
    *::-webkit-scrollbar {
        height: var(--g-scrollbar-width);
        background: transparent;
    }

    &::-webkit-scrollbar-track,
    *::-webkit-scrollbar-track {
        background: transparent;
    }

    a {
        color: var(--g-color-text-link);
        border-radius: var(--g-focus-border-radius);

        &:hover,
        &:active {
            color: var(--g-color-text-link-hover);
        }

        @include focusable(0, 'box-shadow');
        &.yfm-anchor {
            &:focus::before {
                visibility: visible;
            }
        }
    }

    img {
        background-color: var(--g-color-base-background);
    }

    $backgroundColors: (
        yfm-accent-info: var(--g-color-base-info-light),
        yfm-accent-tip: var(--g-color-base-positive-light),
        yfm-accent-alert: var(--g-color-base-danger-light),
        yfm-accent-warning: var(--g-color-base-warning-light),
    );

    @each $type, $color in $backgroundColors {
        &.#{$type} {
            background: $color;
        }
    }

    code {
        font-size: var(--dc-code-short-font-size);
        line-height: var(--dc-code-short-line-height);
        padding: var(--dc-code-short-padding);
        background: var(--g-color-base-misc-light);
        color: var(--g-color-text-misc);
    }

    pre > code {
        font-size: var(--dc-code-font-size);
        line-height: var(--dc-code-line-height);
        padding: 16px;
        background: var(--g-color-base-misc-light);
        color: var(--g-color-text-complementary);
    }

    dfn {
        background: var(--g-color-base-float);
        box-shadow: 0 8px 20px var(--g-color-sfx-shadow);
    }

    dfn:before {
        box-shadow: 0 0 0 1px var(--g-color-line-generic-solid);
    }

    table {
        color: var(--g-color-text-primary);
        border-color: var(--g-color-line-generic);
        background: var(--g-color-base-background);
    }

    table thead,
    table tr:nth-child(2n) {
        background: var(--g-color-base-generic);
    }

    hr {
        background-color: var(--g-color-base-background);
    }

    blockquote {
        border-inline-start-color: var(--g-color-base-brand);
    }

    .yfm-tab-list {
        border-block-end-color: var(--g-color-line-generic);
    }

    .yfm-tab {
        border-radius: var(--g-focus-border-radius);

        &:hover,
        &:active {
            color: var(--g-color-text-link-hover);
        }
        @include focusable();
    }

    .yfm-tab.active {
        border-block-end-color: var(--g-color-base-brand);
    }

    /* TODO: move yfm-cut styles to yfm-transform */
    .yfm-cut {
        margin-block-end: $blockMarginBottomMedium;
    }

    .yfm-cut.open .yfm-cut-content {
        padding: 5px 0 0 30px;
    }

    .yfm-term_title:hover {
        color: var(--g-color-text-link-hover);
    }

    // Margin collapse is not applied for a block and header with a negative margin.
    // The margin is summed up. So, we need to take 15px away from the header margin-block-start
    h1,
    h2 {
        @include fixAnchorPosition(calc(#{$headerMarginTopLarge} - #{$blockMarginBottomMedium}));
        margin-block-end: $blockMarginBottomLarge;
    }

    h3,
    h4,
    h5,
    h6 {
        @include fixAnchorPosition(calc(#{$headerMarginTopMedium} - #{$blockMarginBottomMedium}));
    }

    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
        @include fixAnchorPosition();
    }

    // Use 0px for the top offset of the header if it is the first child element,
    // because it is located after the page title
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &:first-child {
            @include fixAnchorPosition();
        }
    }

    .yfm-page__delimeter {
        height: 4px;
        border-radius: 2px;
        background: var(--g-color-line-generic);
        margin-block-start: 20px;
        margin-block-end: 0;

        & + h1,
        & + h2,
        & + h3,
        & + h4,
        & + h5,
        & + h6 {
            @include fixAnchorPosition(#{$headerMarginTopLarge});
        }
    }

    .yfm-original-link {
        &:before {
            content: none;
        }
        & svg {
            visibility: hidden;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        .yfm-original-link::before {
            content: none;
        }
        .yfm-original-link svg {
            visibility: hidden;
        }
        &:hover .yfm-original-link svg {
            visibility: visible;
        }
    }

    /* stylelint-disable declaration-no-important */
    .yfm-anchor_hidden {
        visibility: hidden;
        &:before {
            visibility: hidden !important;
        }
    }
    /* stylelint-enable declaration-no-important */
}

.yc-root_theme_dark .dc-doc-page .yfm {
    .yfm-cut-title:before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggc3Ryb2tlPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNykiIGZpbGw9Im5vbmUiIGQ9Ik0zIDZsNSA1IDUtNSI+PC9wYXRoPjwvc3ZnPg==');
    }
}
