.dc-widgets {
    position: fixed;
    right: 0;
    bottom: 0;
    width: fit-content;
    z-index: 121;
    pointer-events: none;
    overflow: hidden;
}

.dc-widgets > div {
    $offset: 60px;

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            bottom: #{($i - 1) * $offset};
        }
    }

    &:nth-child(5) + * {
        display: none;
    }
}
