@import '../../styles/variables';
@import '../../styles/mixins';

$visibleStartPadding: 12px;

.dc-toc-item {
    cursor: pointer;
    user-select: none;

    &__link {
        --g-focus-border-radius: 4px;

        display: block;
        text-decoration: none;
        border-radius: var(--g-focus-border-radius);

        @include focusable(-2px); // -2px, as outline on focues goes out of toc's borders
    }

    &__wrapper {
        display: flex;
        align-items: center;

        padding: 7px 0px 5px;
    }

    &__text-block {
        display: block;

        position: relative;
        padding: 7px 12px 7px 20px;
        width: 100%;

        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            padding: 10px 12px 10px (28px + $visibleStartPadding);

            [dir='rtl'] & {
                padding: 10px (28px + $visibleStartPadding) 10px 12px;
            }
        }

        [dir='rtl'] & {
            padding: 7px 20px 7px 12px;
        }
    }

    &__text {
        --g-focus-border-radius: 4px;

        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;

        box-sizing: border-box;
        word-break: break-word;
        background-color: transparent;
        border: 0;
        text-align: initial;
        border-radius: var(--g-focus-border-radius);

        color: var(--g-color-text-primary);

        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            @include text-size(body-2);
        }

        &_active {
            border-radius: 3px;
            background: var(--g-color-base-selection);
        }

        &_labeled {
            font-weight: 500;
            text-transform: uppercase;

            @include text-size(body-1);
        }

        &_clicable {
            cursor: pointer;

            &:hover {
                border-radius: 3px;
                background: var(--g-color-base-simple-hover);
            }
        }

        @include focusable(-2px); // -2px, as outline on focues goes out of toc's borders
    }

    &__icon {
        position: absolute;
        left: 0;

        [dir='rtl'] & {
            right: 0;
        }

        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            left: $visibleStartPadding;

            [dir='rtl'] & {
                right: $visibleStartPadding;
            }
        }
    }

    &__arrow {
        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            margin-right: 20px;

            [dir='rtl'] & {
                margin-left: 20px;
            }
        }

        &:hover:before {
            background: none;
        }
    }
}
