@import '../../styles/variables';
@import '../../styles/mixins';

.dc-toc-item {
    cursor: pointer;
    user-select: none;

    &__link {
        --g-focus-border-radius: 4px;

        display: block;
        text-decoration: none;
        border-radius: var(--g-focus-border-radius);

        @include focusable(-2px); // -2px, as outline on focues goes out of toc's borders
    }

    &__text {
        --g-focus-border-radius: 4px;

        display: block;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;

        position: relative;
        padding: 7px 12px 7px 20px;
        box-sizing: border-box;
        word-break: break-word;
        background-color: transparent;
        border: 0;
        text-align: initial;
        width: 100%;
        border-radius: var(--g-focus-border-radius);

        color: var(--g-color-text-primary);

        [dir='rtl'] & {
            padding: 7px 20px 7px 12px;
        }

        &_active {
            border-radius: 3px;
            background: var(--g-color-base-selection);
        }

        &_label {
            @include text-size(body-1);
            font-weight: 500;
            text-transform: uppercase;
        }

        &_clicable {
            cursor: pointer;

            &:hover {
                border-radius: 3px;
                background: var(--g-color-base-simple-hover);
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            // hack: to be shure that it will always start from the left of the TOC
            left: -100vw;
            height: 100%;
        }

        @include focusable(-2px); // -2px, as outline on focues goes out of toc's borders
    }

    &__icon {
        position: absolute;
        left: 0;

        [dir='rtl'] & {
            right: 0;
        }
    }
}
