@import '../../../styles/variables';
@import '../../../styles/mixins';

$avatarsDistance: 2px;
$avatarTextFontSize: 12px;
$avatarTextFontWeight: 500;
$detailsIndent: 12px;
$avatarBorder: 1.5px;
$textLineHeight: 18px;

$avatarWrapperSmallSize: 26px;
$avatarSmallSize: 23px;
$avatarWrapperBigSize: 36px;
$avatarBigSize: 33px;

@mixin disable-link-styles {
    a,
    a:hover,
    a:visited,
    a:active {
        color: inherit;
        text-decoration: none;
    }
}

.contributor-avatars {
    &__avatars-wrapper {
        display: flex;
        @include disable-link-styles();
    }

    &__one_contributor {
        display: flex;

        & > * {
            @include contributors-text();
        }

        @media screen and (max-width: map-get($screenBreakpoints, 'sm')) {
            &_onlyAuthor > * {
                margin: 0;
            }
        }

        & > *:last-child {
            margin-right: 0px;
        }

        @media screen and (max-width: map-get($screenBreakpoints, 'sm')) {
            &_onlyAuthor > *:last-child {
                display: none;
            }
        }
    }

    &__avatar-wrapper {
        border-radius: 50%;
        background: var(--yc-color-line-generic-accent);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_size_small {
            height: $avatarWrapperSmallSize;
            width: $avatarWrapperSmallSize;
        }

        &_size_big {
            height: $avatarWrapperBigSize;
            width: $avatarWrapperBigSize;
        }
    }

    &__avatar {
        cursor: pointer;

        &_size_small {
            border-radius: 50%;
            height: $avatarSmallSize;
            width: $avatarSmallSize;
        }

        &_size_big {
            border-radius: 50%;
            height: $avatarBigSize;
            width: $avatarBigSize;
        }

        &_default {
            border-radius: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: $avatarTextFontSize;
            font-weight: $avatarTextFontWeight;
            border: $avatarBorder solid var(--yc-color-line-generic-accent);

            &.big {
                height: $avatarWrapperBigSize;
                width: $avatarWrapperBigSize;
            }

            &.small {
                height: $avatarWrapperSmallSize;
                width: $avatarWrapperSmallSize;
            }
        }
    }

    &__displayed_avatars {
        display: flex;

        & > * {
            margin-right: $avatarsDistance;
        }
    }

    &__hidden_avatars {
        font-size: $avatarTextFontSize;
        font-weight: $avatarTextFontWeight;
        color: var(--yc-color-text-secondary);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;

        & > * {
            background: var(--yc-color-base-misc);
            flex-direction: column;
            text-align: center;
            display: flex;
            justify-content: center;
            padding-left: 3px;
            padding-right: 1px;
            border: $avatarBorder solid var(--yc-color-line-generic-accent);
            height: $avatarWrapperSmallSize;
            width: $avatarWrapperSmallSize;
        }
    }

    &__details {
        display: flex;
        margin: $detailsIndent;
        @include disable-link-styles();

        & > div:last-child {
            font-size: 13px;
            font-weight: 400;
            margin: 0 $detailsIndent;
        }
    }

    &__details_name {
        color: var(--yc-color-contrast);
        line-height: $textLineHeight;
    }

    &__details_login {
        color: var(--yc-color-contrast-50);
        line-height: $textLineHeight;
    }

    &__popup {
        box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.2);
    }
}
