@import '../../../styles/variables';
@import '../../../styles/mixins';

$contributorsShift: -4px;
$avatarTextFontSize: 12px;
$avatarTextFontWeight: 500;
$detailsIndent: 12px;

.contributor-avatars {
    &__avatars-wrapper {
        display: flex;
    }

    &__one_contributor {
        display: flex;

        & > * {
            @include contributors-text();
        }

        & > *:last-child {
            margin-right: 0px;
        }

        @media screen and (max-width: map-get($screenBreakpoints, 'sm')) {
            & > *:last-child {
                display: none;
            }
        }
    }

    &__avatar {
        &_size_small {
            border-radius: 50%;
            height: 24px;
            width: 24px;
            border: 1px solid var(--yc-color-base-background);
        }

        &_size_big {
            border-radius: 50%;
            height: 36px;
            width: 36px;
            border: 1px solid var(--yc-color-base-background);
            margin-right: $detailsIndent;
        }

        &_default {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: $avatarTextFontSize;
            font-weight: $avatarTextFontWeight;
            border: 1px solid var(--yc-color-line-generic);
            background: var(--yc-color-base-background);
        }
    }

    &__displayed_avatars {
        flex-direction: row-reverse;
        display: flex;

        & > * {
            position: relative;
        }

        & > *:not(:last-child) {
            margin-left: $contributorsShift;
            overflow: hidden;
        }
    }

    &__hidden_avatars {
        margin-left: $contributorsShift;
        font-size: $avatarTextFontSize;
        font-weight: $avatarTextFontWeight;
        color: var(--yc-color-text-secondary);
        text-align: center;
        cursor: pointer;

        & > * {
            background: var(--yc-color-base-misc);
            flex-direction: column;
            text-align: center;
            display: flex;
            justify-content: center;
            padding-left: 3px;
            padding-right: 1px;
        }
    }

    &__details {
        display: flex;
        margin: $detailsIndent;

        & > div:last-child {
            font-size: 13px;
            font-weight: 400;
        }
    }

    &__details_name {
        color: var(--yc-color-contrast);
        line-height: 18px;
    }

    &__details_login {
        color: var(--yc-color-contrast-50);
        line-height: 18px;
    }

    &__popup {
        box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.15);
    }
}
