@use '../../styles/variables';
@use '../../styles/mixins';

$avatarsDistance: 2px;
$avatarTextFontSize: 12px;
$avatarTextFontWeight: 500;
$detailsIndent: 12px;
$avatarBorder: 1.5px;
$textLineHeight: 18px;

$avatarWrapperSmallSize: 23px;
$avatarWrapperBigSize: 33px;

@mixin disable-link-styles {
    a,
    a:hover,
    a:visited,
    a:active {
        color: inherit;
        text-decoration: none;
        display: flex;
    }

    a {
        cursor: pointer;
    }
}

.dc-contributor-avatars {
    &__one_contributor {
        display: flex;
        margin: 0 $avatarBorder;
        @include disable-link-styles;

        a:hover,
        a:active {
            color: var(--g-color-text-link-hover);
        }

        & > * {
            @include mixins.contributors-text();
        }
    }

    &__avatar {
        & {
            border-radius: 50%;
            box-shadow: 0 0 0 $avatarBorder var(--g-color-line-generic-accent);
            border: 0;
            color: inherit;
            cursor: inherit;
            background-color: inherit;
            padding: 0;
            align-items: initial;
            font-family: inherit;
        }

        &_size_small {
            height: $avatarWrapperSmallSize;
            width: $avatarWrapperSmallSize;
        }

        &_size_big {
            height: $avatarWrapperBigSize;
            width: $avatarWrapperBigSize;
        }

        &_default {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: $avatarTextFontSize;
            font-weight: $avatarTextFontWeight;
        }

        @include mixins.focusable(1px);
    }

    &__displayed_avatars {
        display: flex;
        @include disable-link-styles;

        & > * {
            margin-left: $avatarBorder;
            margin-right: calc(#{$avatarBorder} + #{$avatarsDistance});
        }
        & a {
            border-radius: 50%; // to have rounded outline on focus as all avatars rounded
        }
    }

    &__hidden_avatars {
        font-size: $avatarTextFontSize;
        font-weight: $avatarTextFontWeight;
        color: var(--g-color-text-secondary);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;

        & > * {
            background: var(--g-color-base-misc-light);
            flex-direction: column;
            text-align: center;
            display: flex;
            justify-content: center;
            margin: 0 $avatarBorder;
            box-shadow: 0 0 0 $avatarBorder var(--g-color-line-generic-accent);
        }
    }

    &__details {
        display: flex;

        & > div:last-child {
            font-size: 13px;
            font-weight: 400;
            margin: auto $detailsIndent;
        }
    }

    &__details_name {
        color: var(--g-color-text-primary);
        line-height: $textLineHeight;
    }

    &__popup {
        box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.2);
        padding: $detailsIndent;

        & > *:not(:last-child) {
            margin-bottom: $detailsIndent;
        }

        @include disable-link-styles;
    }
}
