.generative-search-answer {
    &__container {
        --g-color-base-generic: #f1f4f9;
        border-radius: 28px;
    }
    &__header {
        top: 10px;
        left: 27px;
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        position: relative;

        > h4 {
            color: var(--g-color-text-primary);
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            margin: 0;
        }
        > p {
            color: var(--g-color-text-primary);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            margin: 0;
        }
    }

    &__yandexgpt-logo {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        padding-left: 4px;
        display: inline-flex;
        column-gap: 2px;
        align-items: center;
    }
}
