.dc-text-input {
    padding: 0 12px;
    width: 100%;
    height: 36px;
    font-size: 13px;
    font-family: var(--yc-font-family);

    color: var(--yc-lego-color-text-primary);

    border: 1px solid var(--yc-lego-color-border-medium-solid);
    border-radius: 4px;
    background-color: transparent;
    outline: none;

    transition: border-color 0.15s linear;

    /* stylelint-disable-next-line selector-no-vendor-prefix */
    &::-webkit-input-placeholder {
        color: var(--yc-lego-color-placeholder);
    }
    /* stylelint-disable-next-line selector-no-vendor-prefix */
    &::-moz-placeholder {
        color: var(--yc-lego-color-placeholder);
    }
    /* stylelint-disable-next-line selector-no-vendor-prefix */
    &:-ms-input-placeholder {
        color: var(--yc-lego-color-placeholder);
    }

    &:focus {
        border-color: var(--yc-lego-color-utilityfocus-solid);
    }
}
