.dc-text-input {
    padding: 0 13px;
    width: 100%;
    height: 36px;
    font-size: 13px;

    color: var(--yc-lego-color-text-primary);

    border: 1px solid var(--yc-lego-color-border-medium-solid);
    border-radius: 4px;
    background-color: transparent;
    outline: none;

    transition: border-color 0.15s linear;

    &:focus {
        border-color: var(--yc-lego-color-utilityfocus-solid);
    }
}
