@use '../../styles/variables';
@use '../../styles/mixins';

.SearchItem {
    &__link {
        cursor: pointer;
        color: inherit;

        &:hover,
        &:active {
            color: var(--g-color-text-link-hover);
        }
    }

    &__marks-wrapper {
        display: none;
        justify-content: flex-end;
        align-items: center;
    }

    &__marks {
        height: 16px;
        margin-top: 10px;
    }

    &__mark {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item-wrapper:hover &__marks-wrapper {
        display: flex;
    }

    &__item-wrapper {
        margin-bottom: 20px;
        @include mixins.text-size(body-1);
    }

    &__item {
        display: block;
        overflow: hidden;
        text-decoration: none;

        cursor: pointer;
        text-overflow: ellipsis;
        border-radius: var(--g-focus-border-radius);
        @include mixins.focusable();

        &-title,
        &-description {
            display: block;
            overflow: hidden;

            text-overflow: ellipsis;
        }

        &-title {
            margin-bottom: 4px;
        }

        &-title,
        &-title &-search-token {
            color: var(--g-color-text-primary);

            @include mixins.text-size(subheader-3);
            @include mixins.link();
        }

        &-title:hover &-search-token {
            color: var(--g-color-text-link-hover);
        }

        &-description {
            display: inline-block;
            color: var(--g-color-text-secondary);

            em {
                font-weight: bolder;
            }

            &::after {
                content: '...';
                display: inline;
            }
        }
        &-description &-search-token {
            color: var(--g-color-text-primary);
        }
    }
}
