@import '../../styles/mixins';

.yc-root {
    & code[class*='language-'], pre[class*='language-'] {
        background: initial;
        padding: initial;
        margin: 0 0 15px;
        text-shadow: none;
    }
}

body.yc-root {
    --dc-header-height: 64px;
}

.yc-root .Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    background-color: var(--yc-color-base);
    box-shadow: inset 0 -1px 0 var(--yc-color-line-generic);

    &__control {
        color: var(--yc-color-text-primary);
    }

    &__divider {
        margin: 0 4px;
    }
}

.Layout__header {
    position: sticky;
    top: 0;
    z-index: 101;
}
