@import '../../styles/mixins';

.yc-root {
    pre[class*='language-'] {
        background: initial;
        padding: initial;
        overflow: initial;
        margin: 0 0 15px;
    }
}

body.yc-root {
    --dc-header-height: 64px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    background-color: var(--yc-color-base);
    box-shadow: inset 0 -1px 0 var(--yc-color-divider);
}

.Layout__header {
    position: sticky;
    top: 0;
    z-index: 100;
}
