@import '../../styles/mixins';

.yc-root {
    & code[class*='language-'],
    pre[class*='language-'] {
        background: initial;
        padding: initial;
        margin: 0 0 15px;
        text-shadow: none;
    }
}

.yc-root .Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    background-color: var(--yc-color-base-background);
    box-shadow: inset 0 -1px 0 var(--yc-color-line-generic);

    &__control {
        color: var(--yc-color-text-primary);
    }

    &__control-input {
        height: 28px;
        border-radius: 4px;
        border: 1px solid var(--yc-color-line-generic);
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__divider {
        margin: 0 4px;
    }
}

.Layout__header {
    position: sticky;
    top: 0;
    z-index: 101;
}
