@use 'sass:map';
@use '../../styles/mixins';
@use '../../styles/variables';

.dc-controls {
    display: flex;
    align-items: center;
    @include mixins.text-size(body-1);

    &__control:first-child {
        margin-left: 12px;
    }

    &__control:not(:last-child),
    &__divider {
        margin-right: 4px;
    }

    &__list {
        padding: 4px 0;
    }

    &__list-icon {
        font-size: 22px;
    }

    &__icon-rotated {
        transform: rotate(90deg);
    }

    &__popup-tooltip {
        padding: 0;
    }

    @media (min-width: map.get(variables.$screenBreakpoints, 'md')) {
        &_vertical {
            flex-direction: column;
        }

        &_vertical &__divider {
            height: 1px;
            width: 16px;
        }

        &_vertical &__control:not(:last-child),
        &_vertical &__divider {
            margin-right: 0;
            margin-bottom: 4px;
        }
    }
}
