@use 'sass:map';
@use '../../../styles/mixins';
@use '../../../styles/variables';

.pc-navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--header-height);

    background-color: var(--g-color-base-background);

    &_with-border {
        box-shadow: inset 0 -1px 0 var(--g-color-line-generic);
    }

    @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
        // disable page-constructor OverflowScroller in pc-navigation on mobile
        // as unnecessary feat of pc
        .pc-overflow-scroller {
            &__arrow_type_left,
            &__arrow_type_right {
                display: none;
            }

            &__container_padding-right {
                padding-right: 0;
            }
        }
    }
}
