@import '../../styles/mixins';
@import '../../styles/variables';

$popupWidth: 320px;

@mixin tooltip-in-center {
    @media screen and (max-width: map-get($screenBreakpoints, 'xs')) {
        & {
            // stylelint-disable declaration-no-important
            inset-inline-end: 0 !important;
            inset-inline-start: 0 !important;
            margin: auto;
        }
    }
}

.dc-feedback {
    &__container {
        &_view_wide {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
    }

    &__container-row {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 28px;

        border: 1px solid var(--g-color-line-generic);
        border-radius: 8px;

        &_view_wide {
            display: flex;
            align-items: center;
        }
    }

    &__success-popup {
        padding: $popupPadding 50px $popupPadding $popupPadding;
        width: $popupWidth;

        &_view_wide {
            @include tooltip-in-center();
        }
    }

    &__variants-popup {
        padding: $popupPadding;
        width: $popupWidth;

        &_view_wide {
            @include tooltip-in-center();
        }
    }

    &__popup-title {
        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);
        padding-block-end: 8px;
    }

    &__popup-text {
        font-size: var(--g-text-body-short-font-size);
        line-height: var(--g-text-body-short-line-height);
    }

    &__variants {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
    }

    &__variant {
        margin-block-end: 8px;
        white-space: normal;
    }

    &__variant:last-child {
        margin-block-end: 0;
    }

    &__variants-actions {
        padding-block-start: 8px;
        display: flex;
        justify-content: flex-end;
    }

    &__variants-action {
        margin-inline-start: 10px;
    }

    &__textarea {
        padding: 8px 0;
    }

    &__title {
        &_view_wide {
            font-size: var(--g-text-body-2-font-size);
            line-height: var(--g-text-body-2-line-height);
            margin-inline-end: 16px;
            font-weight: 400;
        }
    }

    &__controls {
        display: flex;
        gap: 10px;

        &_view_wide {
            display: flex;
        }
    }

    &__control {
        &:last-child {
            font-size: 13px;
            line-height: 18px;
            display: flex;
            align-items: center;
        }

        &_view_wide {
            margin-inline-end: 12px;

            &:last-child {
                margin-inline-end: 0;
            }
        }

        &_view_regular {
            margin-inline-end: 4px;

            &:last-child {
                margin-inline-end: 0;
            }
        }
    }
}
