@import '../../styles/mixins';
@import '../../styles/variables';

$popupWidth: 320px;

@mixin tooltip-in-center {
    @media screen and (max-width: map-get($screenBreakpoints, 'xs')) {
        & {
            // stylelint-disable declaration-no-important
            right: 0 !important;
            left: 0 !important;
            margin: auto;
        }
    }
}

.dc-feedback {
    &__container {
        &_view_wide {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
    }

    &__container-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        width: 100%;
        padding: 26px;

        border: 1px solid var(--g-color-line-generic);
        border-radius: 8px;

        &_view_wide {
            display: flex;
            align-items: center;
        }
    }

    &__success-popup {
        // override
        left: -20px;

        padding: $popupPadding 50px $popupPadding $popupPadding;
        width: $popupWidth;

        &_view_wide {
            @include tooltip-in-center();
        }
    }

    &__variants-popup {
        padding: $popupPadding;
        width: $popupWidth;
        left: -20px;

        &_view_wide {
            @include tooltip-in-center();
        }
    }

    &__popup-title {
        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);
        padding-bottom: 8px;
    }

    &__popup-text {
        font-size: var(--g-text-body-short-font-size);
        line-height: var(--g-text-body-short-line-height);
    }

    &__variants {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
    }

    &__variant {
        margin-bottom: 8px;
        white-space: normal;
    }

    &__variant:last-child {
        margin-bottom: 0;
    }

    &__variants-actions {
        padding-top: 8px;
        display: flex;
        justify-content: flex-end;
    }

    &__variants-action {
        margin-left: 10px;
    }

    &__textarea {
        padding: 8px 0;
    }

    &__title {
        &_view_wide {
            @include text-size(subheader-3);
            // font-size: var(--g-text-body-2-font-size);
            // line-height: var(--g-text-body-2-line-height);
            font-weight: 400;
        }
    }

    &__controls {
        display: flex;
        gap: 20px;

        &_view_wide {
            display: flex;
        }
    }

    &__control {
        &:last-child,
        &:first-child {
            display: flex;
            align-items: center;

            font-size: 17px;
            line-height: 24px;
            font-weight: 400;
        }

        &_view_wide {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }

        &_view_regular {
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
