@import '../../styles/mixins';

.dc-control {
    &::before {
        outline-offset: -2px; // as outline on focues goes out of toc's borders
    }
    &__tooltip {
        display: flex;
        align-items: center;
        padding: 4px 8px;
        border: none;
        height: 26px;
    }

    &__tooltip-text {
        @include text-size(body-1);
        display: block;
        white-space: nowrap;
    }
}
