@import '../../../styles/variables';
@import '../../../styles/mixins';

.ErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding: 0 50px;
    text-align: center;

    &__image {
        margin-bottom: 40px;

        //The images for error page are supposed to be installed via "background-image"
        &_code {
            &_403 {
            }

            &_404 {
            }

            &_500 {
            }
        }
    }

    &__code {
        margin-bottom: 10px;
    }

    &__title {
        @include heading3();

        max-width: 800px;
        margin-bottom: 20px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 10px;

        max-width: 600px;

        &-link {
            width: 100%;
            max-width: 200px;
        }
    }

    a {
        @include link();
    }

    .mobile & {
        margin-top: 40px;
        padding: 0 20px;
    }
}
