@import '../../../styles/variables';
@import '../../../styles/mixins';

.dc-breadcrumbs {
    @include text-size(body-1-short);
    width: 100%;

    &__items {
        @include reset-list-style();

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: var(--yc-color-text-inactive);
    }

    &__item {
        display: inline;

        &::after {
            content: '\a0/ ';
            margin: 0 5px;
            color: var(--yc-color-text-hint);
        }

        &:last-child::after {
            display: none;
        }
        &:last-child {
            color: var(--yc-color-text-primary);
        }
    }

    &__text {
        white-space: nowrap;
    }
}
