@import '../../styles/variables';
@import '../../styles/mixins';

.dc-breadcrumbs {
    @include text-size(body-1);
    width: 100%;

    &__items {
        @include reset-list-style();

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: var(--g-color-text-secondary);
    }

    &__item {
        display: inline;

        &::after {
            content: '\a0/ ';
            margin: 0 5px;
            color: var(--g-color-text-hint);
        }

        &:last-child::after {
            display: none;
        }
        &:last-child {
            color: var(--g-color-text-primary);
        }
    }

    &__text {
        white-space: nowrap;

        &_link {
            outline: none;
            color: var(--g-color-text-link);
            text-decoration: none;
            cursor: pointer;
        }
    }
}
