{
    "extends": ["plugin:react/recommended"],
    "plugins": ["react", "react-hooks"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true
    },
    "rules": {
        "jsx-quotes": [2, "prefer-double"],
        "react/jsx-closing-bracket-location": 2,
        "react/jsx-closing-tag-location": 2,
        "react/jsx-tag-spacing": [1, {"beforeSelfClosing": "never"}],
        "react/prop-types": 1,
        "react/sort-comp": 1,
        "react-hooks/rules-of-hooks": 2,
        "react-hooks/exhaustive-deps": 1
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [{
        "files": ["*.ts", "*.tsx"],
        "rules": {
            "react/prop-types": 0,
            "react/sort-comp": [1, {
                "order": [
                    "static-variables",
                    "static-methods",
                    "instance-variables",
                    "lifecycle",
                    "render",
                    "everything-else"
                ]
            }]
        }
    }]
}