*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --dc-header-height: 64px;
    --dc-subheader-height: 40px;

    --dc-error-image-403: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
    --dc-error-image-404: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');
    --dc-error-image-500: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=');

    .yc-root {
        --yc-scrollbar-thin-width: 6px;

        &::-webkit-scrollbar,
        *::-webkit-scrollbar {
            height: var(--yc-scrollbar-thin-width);
            background: transparent;
        }

        &::-webkit-scrollbar-track,
        *::-webkit-scrollbar-track {
            background: transparent;
        }
    }
}

html {
    scroll-padding-top: var(--dc-header-height);
}

#root {
    min-height: 100vh;
}
