*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --dc-header-height: 0;
    --dc-subheader-height: 40px;

    .yc-root {
        --yc-scrollbar-thin-width: 6px;

        &::-webkit-scrollbar,
        *::-webkit-scrollbar {
            height: var(--yc-scrollbar-thin-width);
            background: transparent;
        }

        &::-webkit-scrollbar-track,
        *::-webkit-scrollbar-track {
            background: transparent;
        }
    }
}

#root {
    min-height: 100vh;
}
