*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yc-root {
    --yc-text-body-font-size: 13px;
    --yc-text-body-line-height: 16px;

    --yc-text-body2-font-size: 15px;
    --yc-text-body2-line-height: 20px;

    --yc-text-body3-font-size: 17px;
    --yc-text-body3-line-height: 24px;

    --yc-text-header-font-size: 20px;
    --yc-text-header-line-height: 24px;

    --yc-text-title-font-size: 24px;
    --yc-text-title-line-height: 28px;

    --yc-text-display1-font-size: 28px;
    --yc-text-display1-line-height: 36px;

    --yc-text-display2-font-size: 32px;
    --yc-text-display2-line-height: 40px;

    --yc-text-display3-font-size: 40px;
    --yc-text-display3-line-height: 48px;

    --yc-font-family: 'YS Text', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --yc-font-family-monospace: 'SF Mono', 'Monaco', 'Menlo', 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;

    --yc-scrollbar-width: 12px;

    font-family: var(--yc-font-family);
    font-size: var(--yc-text-body3-font-size);
    line-height: var(--yc-text-body3-line-height);

    @include yc-socials;
}

body.yc-root {
    &::-webkit-scrollbar, *::-webkit-scrollbar {
        width: var(--yc-scrollbar-width);
        height: var(--yc-scrollbar-width);
        background: var(--yc-color-scroll-track);
    }

    &::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
        background: var(--yc-color-scroll-track);
    }

    &::-webkit-scrollbar-corner, *::-webkit-scrollbar-corner {
        background: var(--yc-color-scroll-corner);
    }

    &::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
        background: var(--yc-color-scroll-handle);
    }

    &::-webkit-scrollbar-thumb:hover, *::-webkit-scrollbar-thumb:hover {
        background: var(--yc-color-scroll-handle-hover);
    }

    scrollbar-width: var(--yc-scrollbar-width);
    scrollbar-color: var(--yc-color-scroll-handle) var(--yc-color-scroll-track);
}

#root {
    min-height: 100vh;
}
