@import './themes/light';
@import './socials';

.yc-root {
    &_theme_light {
        @include yc-theme-light;

        --dc-text-header-color: var(--yc-color-text-primary);
        --dc-text-content-color: var(--yc-color-text-complementary);

        background: var(--yc-color-base);
        color: var(--yc-color-text-primary);
    }
}
