@import './mixins';

.dc-doc-page .yfm {
    color: var(--yc-color-text-primary);

    --yfm-color-hljs-background: var(--yc-color-base);
    --yfm-color-hljs-subst: var(--yc-color-text-complementary);
    --yfm-color-hljs-comment: var(--yc-color-text-secondary);
    --yfm-color-hljs-deletion: var(--yc-color-text-accent);
    --yfm-color-hljs-section: var(--yc-color-text-accent);
    --yfm-color-hljs-pseudo: #bc6060;
    --yfm-color-hljs-literal: #78a960;
    --yfm-color-hljs-addition: #397300;
    --yfm-color-hljs-meta: #1f7199;
    --yfm-color-hljs-meta-string: #4d99bf;

    a {
        color: var(--yc-color-link);

        &:hover, &:active {
            color: var(--yc-color-link-hover);
        }
    }

    img {
        background-color: var(--yc-color-base);
    }

    $backgroundColors: (
        yfm-accent-info: var(--yc-color-base-info),
        yfm-accent-tip: var(--yc-color-base-positive),
        yfm-accent-alert: var(--yc-color-base-danger),
        yfm-accent-warning: var(--yc-color-base-warning)
    );

    @each $type, $color in $backgroundColors {
        &.#{$type} {
            background: $color;
        }
    }

    code {
        font-size: var(--dc-code-short-font-size);
        line-height: var(--dc-code-short-line-height);
        padding: var(--dc-code-short-padding);
        background: var(--yc-color-rain-cloud-12);
        color: var(--yc-color-text-misc);
    }

    pre > code {
        font-size: var(--dc-code-font-size);
        line-height: var(--dc-code-line-height);
        padding: 16px;
        background: var(--yc-color-base-misc);
        color: var(--yc-color-text-complementary);
    }

    table {
        color: var(--yc-color-text-primary);
        border: 1px solid var(--yc-color-divider);
        background: var(--yc-color-base);
    }

    table thead, table tr:nth-child(2n) {
        background: var(--yc-color-base-generic);
    }

    hr {
        background-color: var(--yc-color-base);
    }

    blockquote {
        border-left: 3px solid var(--yc-color-azure-solid);
    }

    .yfm-tab-list {
        border-bottom: 1px solid var(--yc-color-divider);
    }

    .yfm-tab:hover, .yfm-tab:active {
        color: var(--yc-color-link-hover);
    }

    .yfm-tab.active {
        border-bottom-color: var(--yc-color-azure-solid);
    }

    h1, h2, h3, h4, h5, h6 {
        @include fixAnchorPosition();
    }
}
