$page-width: 1280px;
$page-width-wide: 1440px;
$right-column-width: 224px;

.dc-back-to-top {
    position: fixed;
    bottom: 64px;
    right: calc(max(0px, (100% - #{$page-width}) / 2) + #{$right-column-width});
    z-index: 110;

    .dc-root_wide-format & {
        right: calc(max(0px, (100% - #{$page-width-wide}) / 2) + #{$right-column-width});
    }

    .mobile & {
        right: auto;
        left: 16px;
        bottom: 16px;
    }
}
