@import '../../styles/variables';
@import '../../styles/mixins';

.Paginator {
    $block: &;

    @include reset-list-style();

    display: flex;
    align-items: center;

    [dir='rtl'] & {
        flex-direction: row-reverse;
    }

    &__item {
        $item: &;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-width: 28px;
        min-height: 28px;
        margin: 4px;

        color: var(--g-color-text-primary);
        @include text-size(body-1);

        &_type {
            &_prev {
                margin-inline-start: -6px;
            }

            &_dots {
                min-width: 0;
                color: var(--g-color-text-secondary);
            }

            &_page {
                cursor: pointer;
                border-radius: 14px;

                &:hover {
                    background: var(--g-color-base-simple-hover);
                }

                &#{$item}_active {
                    color: var(--g-color-text-light-primary);
                    background: var(--g-color-base-brand);
                    cursor: default;
                }
            }

            &_next {
                margin-inline-end: -6px;
            }
        }
    }
}
