@use '../../styles/variables';
@use '../../styles/mixins';

.dc-toc-label {
    &_offset {
        margin-left: 10px;

        [dir='rtl'] & {
            margin-right: 10px;
        }
    }

    &__label-tooltip {
        padding: 16px;
    }

    &__label-wrapper {
        cursor: pointer;
    }
}
