name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'
          cache: 'npm'
      - name: Install Packages
        run: npm ci
      - name: Install Demo Packages
        run: cd demo && npm i
      - name: Lint Files
        run: npm run lint
      - name: Build Files
        run: npm run build
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Save PR ID
        if: always()
        run: |
          pr="${{ github.event.pull_request.number }}"
          echo $pr > ./pr-id.txt
        shell: bash
      - name: Tests
        run: npm run test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 1
      - name: Typecheck
        run: npm run typecheck
