name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
      - name: Install Packages
        run: npm ci
      - name: Install Demo Packages
        run: cd demo && npm i
      - name: Lint Files
        run: npm run lint
      - name: Build Files
        run: npm run build
      - name: Typecheck
        run: npm run typecheck
