@import '../../styles/variables';
@import '../../styles/mixins';

$infoColor: #027bf3;
$tipColor: #56bd67;
$warningColor: #f19518;
$importantColor: #ff4645;

$infoBackgroundColor: rgba(2, 123, 243, 0.08);
$tipBackgroundColor: rgba(63, 201, 46, 0.1);
$warningBackgroundColor: rgba(255, 136, 0, 0.15);
$importantBackgroundColor: rgba(235, 50, 38, 0.08);

.dc-doc-page {
    position: relative;
    @include text-size(body-2);
    width: 1440px;

    $block: &;

    &__aside {
        position: fixed;
        top: calc(
            var(--dc-header-height, #{$headerHeight}) +
                var(--dc-subnavigation-height, #{$subNavigationHeight})
        );

        padding-top: 24px;
        width: 176px;

        @include text-size(body-1);

        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            position: absolute;
            top: var(--dc-subnavigation-height, #{$subNavigationHeight});
            z-index: 117;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            box-sizing: border-box;
            max-height: 0px;
            width: 100%;
            padding: 0 16px;

            background: var(--g-color-base-background, #fff);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);

            transition: max-height 300ms 0s;

            overflow-y: hidden;

            &_open-mini-toc {
                max-height: 80vh;

                body:has(&) {
                    overflow-y: hidden;
                }
            }

            &_hidden-mini-toc {
                padding: 0;
            }

            &-mini-toc {
                width: 100%;
                padding: 16px 0;
            }

            .dc-root_wide-format & {
                padding: 0 8px;
            }

            // style for OutsideClick component
            & > div {
                width: 100%;
            }
        }

        @media screen and (min-width: 1280px) {
            & {
                width: 200px;
            }
        }
    }

    &__main {
        padding: 20px 36px 24px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: calc(
            100vh - var(--dc-header-height, #{$headerHeight}) - var(--dc-subnavigation-height)
        );
    }

    &__loader-wrapper {
        background: var(--g-color-base-background);
        padding-top: calc((100vh - var(--dc-header-height, #{$headerHeight})) / 2);
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 101;
        height: 100%;
    }

    &__controls {
        display: none;
        top: 0;
        align-items: center;
        height: 40px;
        z-index: 121;
        position: absolute;
        right: 7px;

        [dir='rtl'] & {
            left: 7px;
            right: auto;
        }

        & > .dc-controls {
            position: fixed;
            top: calc(6px + var(--dc-header-height, #{$headerHeight}));

            @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
                position: static;
            }
        }

        @media (min-width: map-get($screenBreakpoints, 'md')) {
            display: flex;

            &_vertical {
                top: calc(6px + var(--dc-header-height, #{$headerHeight}));
                justify-content: center;
                height: auto;
                width: 36px;
                position: absolute;
                right: 0;
            }
        }
    }

    &__body {
        &_text-size {
            &_s.yfm {
                @include text-size(body-1);

                --dc-code-font-size: 12px;
                --dc-code-line-height: 18px;

                --dc-code-short-font-size: 12px;
                --dc-code-short-line-height: 14px;
                --dc-code-short-padding: 1px 2px;
            }

            &_m.yfm {
                @include text-size(body-2);

                --dc-code-font-size: 14px;
                --dc-code-line-height: 20px;

                --dc-code-short-font-size: 14px;
                --dc-code-short-line-height: 16px;
                --dc-code-short-padding: 1px 4px;
            }

            &_l.yfm {
                @include text-size(body-3);

                --dc-code-font-size: 16px;
                --dc-code-line-height: 24px;

                --dc-code-short-font-size: 16px;
                --dc-code-short-line-height: 20px;
                --dc-code-short-padding: 1px 6px;
            }
        }
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;

        height: 40px;
        padding: 0 36px;
    }

    &__feedback {
        margin-top: 84px;
    }

    &__edit-button {
        position: absolute;
        right: 0;
    }

    &__title {
        margin-top: 20px;

        @include text-size(display-2);

        @media (min-width: map-get($screenBreakpoints, 'md')) {
            margin-bottom: 12px;
        }
    }

    &__content {
        flex: 1;
        margin-bottom: 50px;
    }

    &__content-mini-toc {
        display: none;
        margin-bottom: 20px;
    }

    &__search-bar {
        background: var(--g-color-base-background);
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        position: sticky;
        top: calc(var(--dc-header-height, #{$headerHeight}) + 6px);
        z-index: 101;
        padding: 0 36px;

        @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
            padding: 0 10px;
        }
    }

    &__search-bar + &__breadcrumbs {
        margin-top: 12px;
    }

    &_full-screen {
        --dc-header-height: 0px;

        & #{$block}__breadcrumbs {
            padding: 0 24px;
        }

        #{$block}__main,
        & .dc-nav-toc-panel__content {
            padding-left: 64px;
            padding-right: 64px;
        }
    }

    &_regular-page-width {
        width: 1280px;
    }

    &#{&}_single-page &__header-container {
        position: relative;
        padding-right: 200px;
    }

    &#{&}_full-screen#{&}_regular-page-width {
        max-width: 736px;

        #{$block}__main {
            padding-left: 0;
            padding-right: 0;
        }

        #{$block}__breadcrumbs {
            padding: 0;
        }

        & .dc-nav-toc-panel__content {
            max-width: 736px;
            padding: 0;
        }
    }

    @media (max-width: map-get($screenBreakpoints, 'md') - 1) {
        &:has(.dc-subnavigation_hidden) &__main {
            margin-top: 0;
        }

        &__main {
            margin-top: var(--dc-subnavigation-height, $subNavigationHeight);
            padding: 0 20px;
        }

        &__breadcrumbs {
            display: none;

            padding: 0 20px;
        }
        /* CHECK display: block; temporarily hidden */
        &__content-mini-toc {
            display: none;
        }

        &__toc-nav-panel {
            padding-bottom: 50px;
        }

        &__controls {
            padding-left: 12px;

            position: static;
        }
    }

    &__page-contributors {
        display: flex;
        margin-bottom: 24px;
        flex-wrap: wrap;

        & > div {
            margin-right: 20px;
            margin-bottom: 8px;
            line-height: 24px;
        }

        & > div:last-child {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 1440px) {
        &:not(&_regular-page-width) {
            width: 100%;
        }
    }

    @media screen and (max-width: 1136px) {
        &_regular-page-width {
            width: 100%;
        }
    }

    @media screen and (min-width: 1024px) {
        &#{&}_full-screen#{&}_regular-page-width &__controls_vertical {
            right: -36px;

            [dir='rtl'] & {
                left: -36px;
                right: auto;
            }
        }
    }
    /* stylelint-disable declaration-no-important */
    @media screen and (max-width: 1280px) {
        &_full-screen &__main,
        &_full-screen .dc-nav-toc-panel__content {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
        &_full-screen &__breadcrumbs {
            padding-left: 24px !important;
            padding-right: 24px !important;
        }

        &_regular-page-width {
            width: 100%;
        }
    }
    /* stylelint-enable declaration-no-important */
}

.dc-note {
    position: relative;
    max-width: 1296px;
    padding: 20px 20px 20px 64px;
    border-radius: 10px;

    &__wrapper {
        padding: 20px 36px;
    }

    &__xmark {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__template {
        padding: 20px;
        border: 1px solid var(--g-color-line-generic);
    }

    &__title {
        font-weight: 700;
    }

    & > p {
        margin: 0 0 10px;

        &:first-child {
            &::before {
                box-sizing: content-box;
                display: block;
                width: 24px;
                height: 24px;
                margin-top: -2px;
                margin-left: -44px;
                padding-right: 20px;
                float: left;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    $colors: (
        dc-accent-info: $infoColor,
        dc-accent-tip: $tipColor,
        dc-accent-alert: $importantColor,
        dc-accent-warning: $warningColor,
    );

    @each $type, $color in $colors {
        &.#{$type} > p:first-child::before {
            $r: red($color);
            $g: green($color);
            $b: blue($color);
            $rgbColor: 'rgb(' + $r + ',' + $g + ',' + $b + ')';
            content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"%3E%3Ccircle cx="8" cy="8" r="8" fill="' + $rgbColor + '"/%3E%3Crect width="1" height="5" x="7.5" y="6.5" stroke="%23fff" rx=".5"/%3E%3Ccircle cx="8" cy="4" r="1" fill="%23fff"/%3E%3C/svg%3E');
        }
    }

    $backgroundColors: (
        dc-accent-info: $infoBackgroundColor,
        dc-accent-tip: $tipBackgroundColor,
        dc-accent-alert: $importantBackgroundColor,
        dc-accent-warning: $warningBackgroundColor,
    );

    @each $type, $color in $backgroundColors {
        &.#{$type} {
            background: $color;
        }
    }
}
