@use 'sass:color';
@use 'sass:map';
@use '../../styles/variables';
@use '../../styles/mixins';

.dc-doc-page {
    position: relative;
    width: 1440px;

    @include mixins.text-size(body-2);

    $block: &;

    &__aside {
        position: sticky;

        padding-top: 24px;
        width: 176px;

        @include mixins.text-size(body-1);

        @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
            z-index: 117;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            box-sizing: border-box;
            width: 100%;
            padding: 0;
        }

        @media screen and (min-width: 1280px) {
            & {
                width: 200px;
            }
        }
    }

    &__main {
        padding: 20px 36px 24px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: calc(
            100vh - var(--dc-header-height, #{variables.$headerHeight}) - var(
                    --dc-subnavigation-height
                )
        );
    }

    &__loader-wrapper {
        background: var(--g-color-base-background);
        padding-top: calc((100vh - var(--dc-header-height, #{variables.$headerHeight})) / 2);
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 101;
        height: 100%;
    }

    &__controls {
        display: flex;
        top: 0;
        align-items: center;
        height: 40px;
        z-index: 102;
        position: absolute;
        right: 7px;

        [dir='rtl'] & {
            left: 7px;
            right: auto;
        }

        & > .dc-controls {
            position: fixed;
            top: calc(6px + var(--dc-header-height, #{variables.$headerHeight}));

            @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
                position: static;
            }
        }

        @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
            display: none;
        }

        @media (min-width: map.get(variables.$screenBreakpoints, 'md')) {
            &_vertical {
                top: calc(6px + var(--dc-header-height, #{variables.$headerHeight}));
                justify-content: center;
                height: auto;
                width: 36px;
                position: absolute;
                right: 0;
            }
        }
    }

    &__body {
        &_text-size {
            &_s.yfm {
                --dc-code-font-size: 12px;
                --dc-code-line-height: 18px;

                --dc-code-short-font-size: 12px;
                --dc-code-short-line-height: 14px;
                --dc-code-short-padding: 1px 2px;

                @include mixins.text-size(body-1);
            }

            &_m.yfm {
                --dc-code-font-size: 14px;
                --dc-code-line-height: 20px;

                --dc-code-short-font-size: 14px;
                --dc-code-short-line-height: 16px;
                --dc-code-short-padding: 1px 4px;

                @include mixins.text-size(body-2);
            }

            &_l.yfm {
                --dc-code-font-size: 16px;
                --dc-code-line-height: 24px;

                --dc-code-short-font-size: 16px;
                --dc-code-short-line-height: 20px;
                --dc-code-short-padding: 1px 6px;

                @include mixins.text-size(body-3);
            }
        }
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;

        height: 40px;
        padding: 0 36px;
    }

    &__feedback {
        margin-top: 20px;
    }

    &__edit-button {
        position: absolute;
        right: 0;
    }

    &__title {
        margin-top: 20px;

        text-wrap: balance;

        @include mixins.text-size(display-2);

        @media (min-width: map.get(variables.$screenBreakpoints, 'md')) {
            margin-top: 0px;
            margin-bottom: 12px;

            text-wrap: unset;
        }
    }

    &__share-button {
        vertical-align: middle;
        margin-inline: 12px 4px;
        margin-bottom: 4px;

        &:hover::before {
            background-color: transparent;
        }
    }

    &__content {
        flex: 1;
        margin-bottom: 20px;
    }

    &__content-mini-toc {
        display: none;
        margin-bottom: 20px;
    }

    &__search-bar {
        background: var(--g-color-base-background);
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        position: sticky;
        top: calc(var(--dc-header-height, #{variables.$headerHeight}) + 6px);
        z-index: 101;
        padding: 0 36px;

        @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
            padding: 0 10px;
        }
    }

    &__search-bar + &__breadcrumbs {
        margin-top: 12px;
    }

    &_full-screen {
        --dc-header-height: 0px;

        & #{$block}__breadcrumbs {
            padding: 0 24px;
        }

        #{$block}__main,
        & .dc-nav-toc-panel__content {
            padding-left: 64px;
            padding-right: 64px;
        }
    }

    &_regular-page-width {
        width: 1280px;
    }

    &#{&}_single-page &__header-container {
        position: relative;
        padding-right: 200px;
    }

    &#{&}_full-screen#{&}_regular-page-width {
        max-width: 736px;

        #{$block}__main {
            padding-left: 0;
            padding-right: 0;
        }

        #{$block}__breadcrumbs {
            padding: 0;
        }

        & .dc-nav-toc-panel__content {
            max-width: 736px;
            padding: 0;
        }
    }

    @media (max-width: map.get(variables.$screenBreakpoints, 'md') - 1) {
        &__main {
            padding: 0 20px;

            body:has(.dc-subnavigation_hidden) & {
                margin-top: 0;
                min-height: calc(100vh - var(--dc-header-height, 0px));
            }
        }

        &__breadcrumbs {
            display: none;

            padding: 0 20px;
        }

        &__content-mini-toc {
            display: none;
        }

        &__toc-nav-panel {
            padding-bottom: 50px;
        }

        &__controls {
            padding-left: 12px;

            position: static;
        }
    }

    &__page-contributors {
        display: flex;
        margin-bottom: 24px;
        flex-wrap: wrap;

        & > div {
            margin-right: 20px;
            margin-bottom: 8px;
            line-height: 24px;
        }

        & > div:last-child {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 1440px) {
        &:not(&_regular-page-width) {
            width: 100%;
        }
    }

    @media screen and (max-width: 1136px) {
        &_regular-page-width {
            width: 100%;
        }
    }

    @media screen and (min-width: 1024px) {
        &#{&}_full-screen#{&}_regular-page-width &__controls_vertical {
            right: -36px;

            [dir='rtl'] & {
                left: -36px;
                right: auto;
            }
        }
    }
    /* stylelint-disable declaration-no-important */
    @media screen and (max-width: 1280px) {
        &_full-screen &__main,
        &_full-screen .dc-nav-toc-panel__content {
            padding-left: 40px !important;
            padding-right: 40px !important;
        }
        &_full-screen &__breadcrumbs {
            padding-left: 24px !important;
            padding-right: 24px !important;
        }

        &_regular-page-width {
            width: 100%;
        }
    }
    /* stylelint-enable declaration-no-important */
}

.mobile {
    .dc-doc-page__aside {
        position: relative;
    }
}
